/* style.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-bottom: 1.5px solid #e0e0e0;
    flex-wrap: wrap;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: #0d5fa3;
    margin-right: auto;
}

#logoutButton {
    background-color: #0d5fa3;
    color: white;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 15px;
}

#logoutButton:hover {
    background-color: #094779;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 2.25rem;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}

.text {
    font-size: 1.375rem;
    color: #333;
    margin-bottom: 3px;
}

.detail {
    font-size: 1.25rem;
    color: #1d5a55;
}

.dashboard {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 20px;
}

.user-info, .course-info {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    flex-basis: 48%;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-info img, .course-info img {
    max-width: 150px;
    margin-bottom: 20px;
}

.course-logo {
    margin-top: 30px;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}

.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.course-card {
    background-color: #fff;
    border-radius: 10px;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    transition: transform 0.2s;
    text-decoration: none;
    color: inherit;
}

.course-card img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    flex-grow: 1;
}

.course-card p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.course-card:hover {
    border: 2px groove #d5d0d0;
    transform: translateY(-5px);
}

/* Penyesuaian responsif */

@media (max-width: 992px) {
    .course-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .dashboard {
        flex-direction: column;
    }

    .user-info, .course-info {
        flex-basis: 100%;
    }

    .user-info img, .course-info img {
        max-width: 100px;
    }

    h1 {
        font-size: 1.75rem;
    }

    .text {
        font-size: 1.125rem;
    }

    .detail {
        font-size: 1rem;
    }

    #logoutButton {
        padding: 10px 20px;
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .course-card {
        width: 100%;
    }

    .logo {
        font-size: 1.5rem;
    }

    body {
        font-size: 14px;
    }
}